# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# .extra-file to prevent commits in my name
.extra

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
